[Unit]
Description=Stock App Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
User=kafkabridge
ExecStart={{ venv_home }}/bin/python3 {{ venv_home }}/stock_app.py --serve-in-foreground
Restart=always
RestartSec=15
StandardInput=tty-force

[Install]
WantedBy=multi-user.target